li:hover {
    cursor: pointer;
}

.displayBox {
    height: 275px;
    width: auto;
}

img {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    text-align: center;
    border: 0.5px grey solid;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

/* Add a 'selected' class here to style selected astronaut names a different color. */
.selected{
    color: rgb(102, 7, 73);
    font-weight: bold;
}
#alias{
    text-align: center;
    font-weight: bold;
    color: rgb(78, 22, 22);
}