<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    
    <span *ngIf="!item.editingEquipment; else editEquipmentBlock">
      <span class="editable-text" (click)="item.editingEquipment = true;">{{item.name}}</span>
    </span>
    <ng-template #editEquipmentBlock>
      <input #newEquip value="{{item.name}}"/>
      <button (click)="updateEquip(newEquip.value, item)">save</button>
    </ng-template>
        <button class="remove" (click)="removeEquip(item)">remove</button></li>
</ul>
<div>
  <input #equipName type="text"  placeholder="enter equipment"/>
  <button (click)="addEquip(equipName.value)">add</button>
</div>