
.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
    width: auto;
}

h3{
    text-align: center;
    border: 0.5px grey solid;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */

.active{
    background-color: gold;
    margin: 2px;
    cursor: pointer;
}
/* Add the 'nearMaxMass' class style here: */
.nearMaxMass{
    font-weight: bold;
    color: indianred;
}
/* #txt-size{
    font-size: 2vw;
} */
